header
	div.container
		div.navbar-header
			a.navbar-brand(href="/")
				img(src="images/icon/logo-white-1.png", alt="Xiao Bo")
		div.navbar-cpllapse.clearfix
			ul#nav.nav.nav-right
				li
					a.home(href="/tag") 分类
				li 
					a(href="/leave-word") 留言