header
	div.container
		div.navbar-header
			a.navbar-brand(href="/")
				img(src="images/icon/logo-white-1.png", alt="Xiao Bo")
		div.navbar-cpllapse
			ul#nav.nav.nav-right
				li
					a.home(href="/") Blog
				li 
					a(href="/demo") Demo
				li 
					a(href="/") Process
				li 
					a(href="/") Resume
				li 
					a(href="/") Intrests