@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
}
#video {
	position: relative;
	display: block;
	width: 100%;
	z-index: 1;
	background-color: pink;
}

.camera-area {
	position: absolute;
	z-index: 0;
  	top: 0;
	background:url(../images/scan_kuang1.png);
}
#cream_loading {
	display: none;
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 2;
}

.camera-btn-outer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100px;
	background-color: #552C2A;
	z-index: 2;
}
#snap img {
	width: 30px;
	display: block;
	margin: 20px auto;
}