@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#video {
	display: block;
	width: 100%;
}

#snap img {
	width: 30px;
}
.camera-area {
	position: absolute;
  	top: 0;
	background:url(../images/scan_kuang1.png) no-repeat;
}
#cream_loading {
	display: none;
}