@charset "UTF-8";

#ubody-page {
	min-height: 100%;
	width: 100%;
	max-width: 640px;
	overflow: hidden;
	position: relative;
	height: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	-moz-box-shadow: 0px 0px 120px #5F5F5F;
	-webkit-box-shadow: 0px 0px 120px #5F5F5F;
	box-shadow: 0px 0px 120px #5F5F5F;
}

.page-1 {
	background: url(../images/china-bank-bg.png) no-repeat;
}
.page-2 {
	background: url(../images/great-wall-bg.png) no-repeat;
}