<header id="js-header" class="header">
	<div class="inner">
		<span id="js-toggle" class="toggle-sidebar">=</span>
		<ul class="nav clearfix">
			<li>
				<a href="#">Shots</a>
			</li>
			<li>
				<a href="#">Discover</a>
			</li>
			<li>
				<a href="#">Stories</a>
			</li>
		</ul>
	</div>
</header>
<div class="sub-nav">
	000
</div>

<div class="full-tab">
	<ul class="clear-fix">
		<li>
			<a href="#">Shot</a>
		</li>
		<li>
			<a href="#">Discover</a>
		</li>
		<li>
			<a href="#">Now</a>
		</li>
	</ul>
</div>