<header id="js-header" class="header">
	<div class="inner">
		<span id="js-toggle" class="toggle-sidebar">=</span>
		<ul class="nav clearfix">
			<li>
				<a href="/shots">Shots</a>
			</li>
			<li>
				<a href="/discover">Discover</a>
			</li>
			<li>
				<a href="/stories">Stories</a>
			</li>
		</ul>
	</div>
</header>
<div class="sub-nav">
	Gabi exclusive, to share the joy with you!
</div>

<div class="full-tab">
	<ul class="clear-fix">
		<li>
			<a href="/shots">Shot</a>
		</li>
		<li>
			<a href="/discover">Discover</a>
		</li>
		<li>
			<a href="/now">Now</a>
		</li>
	</ul>
	<span class="arrange">|||</span>
</div>