<div class="sidebar-right">

	<div class="header">
		Shot
	</div>

	<div id="js-add" class="add">
		<div class="title">
			<input class="js-title" type="text" placeholder="Title">
		</div>

		<div class="illustrate">Upload Pic</div>
		<div>
			<input class="js-file" type="file" name="illustrate">
		</div>
		
		<div class="tool">
			<span>
				<i class="fa fa-bold"></i>
			</span>
			<span>
				<i class="fa fa-italic"></i>
			</span>
			<span>
				<i class="fa fa-chain"></i>
			</span>
			<span>
				<i class="fa fa-list-ol"></i>
			</span>
		</div>
		
		<textarea class="js-content" placeholder="Content"></textarea>

		<div>
			<button class="js-add-btn">Add</button>
		</div>
	</div>

</div>

<script>
	
$(document).ready(function() {

	$("#js-add .js-add-btn").click(function(e) {

		var title = $("#js-add .js-title").val();
		var content = $("#js-add .js-content").val();

		console.log(title);

		$.ajax({
	
            type : 'post',
            context: $(this),
            dataType:'json',
            data: {
            	title: title,
            	content: content
            },
            success: function(success) {

            },
            error: function(error) {

            	console.log('error');

            }

		});

	});

});

</script>