<div class="sidebar-right">

	<div class="header">
		Shot
	</div>

	<div class="add">
		<div class="title">
			<input type="text" name="" placeholder="Title">
		</div>
		
		<div class="tool">
			<span>
				<i class="fa fa-bold"></i>
			</span>
			<span>
				<i class="fa fa-italic"></i>
			</span>
			<span>
				<i class="fa fa-chain"></i>
			</span>
			<span>
				<i class="fa fa-list-ol"></i>
			</span>
		</div>
		
		<textarea placeholder="Content"></textarea>
	</div>

</div>