h4 7 comments

div.comment
	div.box
		form(method="post")
			textarea(placeholder="Join to us...")
			input(type="text", placeholder="Name")
			button Submmit
	ul.comment-list

		mixin list

			li
				h4.nick-name Gabi
				p Very good! 真好
			li.reply
				h4.nick-name XiaoBo 
					span.at @ Gabi
				p 3Q!

		+list()
		+list()
		+list()
		+list()
		+list()


