div.list
	div.time
		p 
			span.day 01
			span.year 2015/07
		div.shadow

	h2.title Golang
	p 刚才看了看 golang 的知识，又去搜了搜到底 objc 啰嗦还是 java 啰嗦。结果当然是 objc 更啰嗦。java 的开发者对于啰嗦这点是默认的，但 objc 的粉丝出现了反弹。认为啰嗦反而带来了清晰。还有个 java 的粉丝说了句：好读比好写重要。而且本来两者都有ide，自动补全可以帮很大忙。现在很火的年轻技术，无论对于 golang 还是 rust 还是 react 或 angular，我现在都会想起 jvm 上面的各种方言。android 的开发群体不可谓不大，jvm 上面的 groovy 或者 scala，在语言特性上也不一定输给 golang 或者 node.js 之流。可大浪淘沙下来，现在 andriod 开发语言还是 java 一家独大。web 后端来说，scala 的复杂度也总不被人看好。说起来，mac 开发还有个 macruby 呢，已经停止开发了。

	div.num
		a(href="/detail") 7 comments