include ../layout/index

include ../layout/header

div.container
	div.blog
	
		div.tags
			span
				i.fa.fa-tag
				|  科技
			span.selected
				i.fa.fa-tag
				|  文学
			span
				i.fa.fa-tag
				|  Java
			span.selected
				i.fa.fa-tag
				|  Golang
		
		mixin list

			include list
			
		+list()
		+list()
		+list()
		+list()

include ../layout/footer


		
