header {
	background-color: #232323;
}
.navbar-header {
	margin-left: -5px;
	margin-right: -5px;
}
.navbar-header .navbar-brand {
	float: left;
	padding: 5px;
	height: 42px;
}
.navbar-collapse {

}
.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
	color: #999;
	text-transform: uppercase;
}
.nav>li>a:hover,
.nav>li>a:focus {
	color: #fff;
	background-color: transparent;
}
.nav>li.active>a {
	color: #fff;
	background-color: #F54325;
}


.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	padding-right: 5px;
}


.banner {
	height: 550px;
	background:url(../images/banner/banner-bg.png) center center;
}


footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #363839;
	color: #8C8989;
}
footer .logo,
footer .copyright {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.dropdown {
	position: relative;
}
.dropdown-menu {
	display: none;
	position: absolute;
	min-width: 190px;
	border-top: 2px solid #F54325;
	background-color: #222;
}
.dropdown-menu li a {
	display: block;
	padding: 9px 20px;
	border-bottom: 1px solid #333;
	color: #fff;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
.dropdown-menu li a:hover {
	color: #fff;
	background-color: #F54325;
}


@media (min-width: 1200px) {
	.container {
		width: 980px;
	}
}

@media (min-width: 768px) {
	.navbar-header {
		float: left;
	}
	.navbar-header .navbar-brand {
		height: 80px;
		padding: 22px 15px;
		text-transform: uppercase;
	}
	.navbar-collapse {

	}
	.nav-right {
		float: right;
	}
	.nav>li {
		float: left;
	}
	.nav>li>a {
		font-size: 13px;
		font-weight: 700;
		padding: 33px 11px 32px;
	}

	.dropdown-menu {
		right: 0;
	}
}

header:before,
.navbar-header:before,
.navbar-collapse:before,
.container:before,
.nav:before,
header:after,
.navbar-header:after,
.navbar-collapse:after,
.container:after,
.nav:after {
	content: " ";
	display: table;
}
header:after,
.navbar-header:after,
.navbar-collapse:after,
.container:after,
.nav:after {
	clear: both;
}