/* variable for global different device */
*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}
body {
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  color: #444;
  background-color: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #428bca;
}
.none {
  display: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.wrapper {
  background-color: #f4f4f4;
  overflow-x: hidden;
}
.container {
  margin: 0 auto;
  padding: 20px 10px;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}
input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 2px;
}
input:focus,
textarea:focus {
  border-color: #fcd340;
}
textarea {
  resize: none;
}
.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  box-shadow: 1px 0px 2px #615e5e;
  background-color: #00bcd4;
  z-index: 200;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}
.sidebar .avatar {
  padding: 10px 0;
  text-align: center;
}
.sidebar .avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #f7f7f7;
  overflow: hidden;
  line-height: 12px;
  font-size: 12px;
  text-align: left;
  -webkit-box-shadow: 0 0 1px #ddd;
  box-shadow: 0 0 1px #ddd;
}
.slide-in {
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transform: translateX(0) !important;
}
.shift-right {
  -webkit-transform: translateX(62px);
  -moz-transform: translateX(62px);
  -ms-transform: translateX(62px);
  -o-transform: translateX(62px);
  transform: translateX(62px);
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}
.cover {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 199;
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 700px;
  height: 100%;
  box-shadow: -1px 0px 2px #615e5e;
  background-color: #fff;
  z-index: 200;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}
.sidebar-right .header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.sidebar-right .add {
  padding: 20px 10px;
}
.sidebar-right .title {
  margin-bottom: 15px;
}
.sidebar-right .tool {
  margin-bottom: 5px;
}
