@import url(_base.less);
@import url(_layout.less);
@import url(_sidebar.less);


.none {
	display: none;
}

.clearfix {
	zoom:1;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}