.container {
	padding: 10px;
	margin-left: 60px;
}
.sidebar {
	position: absolute;
	left: 0;
	top: 0;
	width: 60px;
	height: 100%;
	box-shadow: 1px 0px 2px #615e5e;
	background-color: #2e2d2b;
}
.sidebar .avatar {
	padding: 10px 0;
	text-align: center;
}
.sidebar .avatar img {
	border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #f7f7f7;
    overflow: hidden;
    line-height: 12px;
    font-size: 12px;
    text-align: left;
    -webkit-box-shadow: 0 0 1px #ddd;
    box-shadow: 0 0 1px #ddd;
}