.discover {
    
}

.item {
    margin-bottom: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.item li {
    float: left;

    width: 50%;
    height: 0;
    
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30%;

    overflow: hidden; 
}

.item.even li {
    width: 38.65%;

    padding-bottom: 22%;
}

.item.even li:nth-child(2) {
    width: 22.7%;
}

.item li img {
    display: block;
    max-width: 100%;
}
