html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    margin: .67em 0;
    font-size: 18px;
    font-size: 2rem;
}
mark {
    color: #000;
    background: #ff0;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hiden;
}
figure {
    margin: 1em 40px;
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    outline: none;
    border: none;
    background-color: transparent;
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaa;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #aaa;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aaa;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #aaa;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: none;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* beg button */
button,.button {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 4px 13px;
    color: #666;
    margin: 5px;
    text-decoration: none;
    font:12px/normal inherit;
    color: #444;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
    background-color: #f5f5f5;
}

button:hover,.button:hover,
button:focus,.button:focus,
button:active,.button:active {
    text-decoration: none;
    color: #111;
}
button:active,.button:active,
button.active,.button.active {
    text-decoration: none;
    color: #111;
}
button[disabled]{
    border-color: #E9E9E9;
    text-decoration: none;
    color: #B8B8B8;
    background-color: #F1F1F1;
    box-shadow: none;
    cursor: default;
}
button.blue,
.button.blue {
   background-color: #4d90fe; 
}
/* end button */

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
/* ...... Button Danger */

.button.primary {
    text-decoration: none;
    color: #fff;
    background-color: #079dd4;
}
.button.primary:hover,
.button.primary:focus,
.button.primary:active,
.button.primary:active,
.button.primary.active {
    color: #fff;
    background-color: #22ACDF;
}

.button.danger {
    color: #900;
    text-shadow: none;
}
.button.danger:hover,
.button.danger:focus,
.button.danger:active {
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff;
    background-color: #dc5f59;
}

.button.danger:active,
.button.danger.active {
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    background-color: #b33630;
}
.button.info {

}
.button.warning {

}
.button.sucess {

}
/* ...... Button icons */
.button.icon:before {
    content: "";
    position: relative;
    top: 1px;
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 0.75em 0 -0.25em;
    background: url(images/icons/gh-icons.png) 0 99px no-repeat;
}

.button.remove.icon:before { background-position: 0 -60px; }
.button.remove.icon:hover:before,
.button.remove.icon:focus:before,
.button.remove.icon:active:before { background-position: -12px -60px; }

/* Button size */
.button.btn-lg {
    padding: 10px 20px;
}
.button.btn-default {
    padding: 6px 15px;
}
.button.btn-sm {
    padding: 5px 15px;
}
.button.btn-xs {
    padding: 1px 5px;
}

/* Clear */
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1;
}

.none {
    display: none;
}
.pointer {
    cursor: pointer;
}
.middle {
    vertical-align: middle;
}
.warning {
    color: #f89406;
}
.danger {
    color: #dd5a43;
}
.success, span.online {
    color: #69aa46;
}

.icon-yes {
    color: #69aa46;
    font-size: 14px;
}
.icon-no {
    color: #dd5a43;
    font-size: 14px;
}

.alert {
    margin-top: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    word-wrap:break-word
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
/*space*/
.space-top-sm {
    margin-top: 5px;
}
.space-top-normal {
    margin-top: 10px;
}
.space-left-sm {
    margin-left: 5px;
}
/* Layout */
#wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 60px;
    padding: 10px 0;
    background-color: #079dd4;
    border-bottom: 1px solid #acadae;
}
#container {
    width: 100%;
    height: auto;
    position: relative;
    /*z-index: -1;*/
}
#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    border-right: 1px solid #ccc;
    background-color: #ededed;
}
#sidebar:before {
    content: "";
    width: inherit;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    border-style: inherit;
    border-color: inherit;
    border-width: inherit
}
#content-wrapper {
    position: relative;
    margin-left: 200px;
    background-color: #fff;
    min-height: 100%;
}
.mail-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 600px;
    border-right: 1px solid #ccc;
}
.mail-wrapper:before {
    content: "";
    width: inherit;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    border-style: inherit;
    border-color: inherit;
    border-width: inherit
}
.mail-detail {
    margin-left: 600px;
}
#main-content {
    padding: 15px;
    padding-bottom: 0;
}
#footer {
    width: 100%;
    margin: 10px auto;
    padding: 12px 0;
    text-align: center;
    border-top: 1px solid #ccc;
}
/*beg header*/
#logo {
    margin-top: 5px;
    margin-left: 20px;
    float: left;
}
#logo img {
    max-height: 48px;
}
#search {
    float: left;
}
.out-text {
    padding: 5px;
    border: 1px solid #cdcdcd;
    background-color: #fff;
}
.search-text {
    width: 500px;
    border: none;
}
.advanced-search {
    display: none;
    margin-right: 51px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #cdcdcd;
}
.query-select {
    display: none;
}
#shortcut {
    float: right;
}
#shortcut li {
    float: left;
    position: relative;
    line-height: 30px;
    padding: 0 15px 0 15px;

}
#shortcut>li>a {
    font-size: 13px;
    color: #fff;
}
/*end header*/

/*breadcrumb*/
#breadcrumb {
    padding: 15px 9px;
    white-space: nowrap;
}
#breadcrumb .home-icon {
    font-size: 14px;
}
#breadcrumb sup,
#breadcrumb span,
#breadcrumb a {
    padding-left: 5px;
}
#breadcrumb sup {
    top: -2px;
    font-size: 1.3rem;
}
#breadcrumb .arrow-right:last-child {
    display: none;
}

.title h1 {
    margin: 20px auto 10px;
    font-size: 18px;
    font-weight: normal;
    color: #393939;
}

/* nav tabs */
.nav-tabs {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.nav-tabs ul {
    position: relative;
    padding-left: 9px;
    margin-bottom: -1px;
    overflow: hidden;
}
.nav-tabs li {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    color: #000;
}
.nav-tabs li.current {
    border-bottom-color: #fff;
}
.nav-tabs li a,
.nav-tabs li span{
    display: block;
    padding: 6px  15px;
    color: #2b7dbc;
    border-top: 2px solid #eee;
    text-decoration: none;;
}

.nav-tabs .current a,
.nav-tabs .current span{
    color: #333;
    border-top: 2px solid #4C8FBD;
    border-right: 1px solid #C5D0DC;
    border-left: 1px solid #C5D0DC;
    background-color: #FFF;
}
.tabs-content {
    padding: 15px 10px;
}
.label-group label,
.label-group span,
.label-group input,
.label-group select {
    margin-left: 0;
    vertical-align: middle;
}
@media screen and (max-width: 380px) {
    #search .label-group {
        display: block;
    }
}

#search fieldset {
    border: none;
    padding: 0;
    margin-bottom: 12px;
}
#search legend {
    color: #930;
    padding: 0;
    font-weight: bold;
}
#qucik-search {

}
.label-group span.search-switcher {
    margin: 0px 5px;
    cursor: pointer;
}


.export-container {
    padding-bottom: 5px;
    text-align: right;
    padding-right: 3px;
    margin: 10px 0 3px;
}
 .export-container a {
    margin-left: 18px;
    display: inline-block;
    text-decoration: none;
    background-position: 0 2px;
    background-repeat: no-repeat;
}
#fields-wrapper {
    position: relative;
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1;
    margin-left: 18px;
}
#fields-handler {
    display: inline;
    cursor: pointer;
}

#fields {
    position: absolute;
    right: 0;
    top: 20px;
    background: #fff;
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
    padding: 5px;
    box-shadow: 0 2px 6px #666;
    width: 290px;
    z-index:5;
 /*   display: block!important;*/
}
/* Product List */
.products-list span.frame-color {
    display: inline-block;
    margin: 2px 0px;
    width: 0;
    padding-left: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
}
.products-list span.normal-price {
    color: #666;
    text-decoration: line-through;
}
.products-list span.promotion-price {
    color: #ff6c00;
}
.products-list span.discount-percent {

}

.products-list .off-line td,
.products-list .off-line td a,
.products-list .off-line td span {
    color: rgba(51,51,51,.4);
}
.products-list .off-line span.promotion-price {

}
.promotion-list .off-line td,
.promotion-list .off-line td a,
.promotion-list .off-line td span {
    color: rgba(51,51,51,.4);
}

@media screen and (min-width: 480px) {
    #fields {
        width: 420px;
    }
}

#fields label {
    padding: 2px;
    float: left;
    width: 130px;
    cursor: pointer;
}
#fields fieldset {
    padding-left: 0;
    padding-right: 0;
}
#fields legend {
    position: relative;
    border: none;
    font-weight: bold;
    padding-top: 5px;
    display: block;
    padding-left: 4px;
    overflow: hidden;
}
#fields .fields-actions {
    position: relative;
    margin: 0 5px;
    overflow: hidden;
}
#fields .close {
    position: absolute;
    right: 5px;
    bottom: 0px;
    display: block;
    width: 0px;
    padding-left: 16px;
    height: 16px;
    background: url('images/icons/popup-detele.png') center center no-repeat;
    cursor: pointer;
    opacity: .6;
    overflow: hidden;
}
#fields .close:hover {
    opacity: 1;
}
#fields .fields-actions label {
    float: none;
}

/**  BGN Bulk **/
.bulk {
    float: left;
    margin-right: 20px;
    margin-top: 6px;
}
.bulk a {
    margin: 0 5px;
    text-decoration: underline;
}
.bulk a.disable {
    color: #ccc;
}
.bulk button{
    padding:2px 8px;
    font-size: 12px;
}
.bulk .operation{
    font-weight: normal;
    text-align: left;
    padding: 4px;
    line-height: 30px;
    height: 30px;
}

.operation-check {
    cursor: pointer;
    position: relative;
    padding: 0 16px 0 8px;
    margin-right: 26px;
}
.operation-check input {
    margin-right: 4px;
}
.operation-check .arrow {
    position: absolute;
    right: 0;
    top: 0;
    border-width: 6px;
    border-style: solid;
    border-color: #666 #fff #fff #fff;
}
.operation .operation-btn {
    position: relative;

}
.operation-btn .ico {
    position: absolute;
    left: 4px;
    top: 5px;
}

/**  END Bulk **/

/** BGN page **/
.selection-results {
    margin: 5px 0;
    padding: 3px;
    background: #ffd;
    line-height: 2em;
    text-align: center;
    clear: both;
}
.selection-results span {
    cursor: pointer;
    text-decoration: underline;
}

#selection {
    display: inline-block;
    zoom: 1;
    *display: inline;
    position: relative;
    padding-right: 13px;
    margin: 10px 3px 0 11px;
    float: left;
    clear: left;
}

#selection .arrow {
    border-color: #666666 #F5F5F5 #F5F5F5;
    border-style: solid;
    border-width: 4px;
    font-size: 0;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
    transition: transform 0.2s ease-in 0s;
    right: 2px;
    top: 7px;
    cursor: pointer;
}
#selection-options {
    position: absolute;
    position: absolute;
    left: 0;
    top: 22px;
    padding: 6px 0;
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    white-space: nowrap;
    z-index: 100;
}
#selection-options li{
    padding: 2px 10px;
    white-space: nowrap;
}
#selection-options li:hover {
    background: #f1f1f1;
    cursor: pointer;
}
#selection-options .check-item {
    line-height: 22px;
    padding: 0 8px;
}
#selection-options .arrow {
    position: absolute;
    left: 7px;
    right: auto;
    top: -12px;
    border-width: 6px;
    border-style: solid;
    border-color: #fff #fff #eee #fff;
}
#selection-options .arrow:after{
    width: 0;
    height: 0;
    content: "";
    border-color: transparent;
    border-width: 6px;
    border-style: solid;
    border-bottom-color: #fff;
    position: absolute;
    right: -6px;
    top:-5px;
}
#selection-options .arrow:after{
    width: 0;
    height: 0;
    content: "";
    border-color: transparent;
    border-width: 6px;
    border-style: solid;
    border-bottom-color: #fff;
    position: absolute;
    right: -6px;
    top:-5px;
}
/*selection end*/

.pagination {
    float: right;
    display: inline;
    text-align: right;
    padding-right: 5px;
    margin-top: 9px;

}

.pagination .pages,
.pagination .records,
.pagination .pagesize {
    text-align: center;
    margin: 0 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.pagesize {
    padding: 1px;
    vertical-align: middle;
}
.pages {
    line-height: 23px;
    height: 23px;

}
.pages a {
    cursor: pointer;
    padding: 3px 7px;
    color: #333;
}
.pages a:hover {
    color: #ff6c00;
}
.pages .current{
    padding: 3px 7px;
    color: #fff;
    background-color: #555;
}
.separator {
    padding: 3px 3px;
}
/** END page **/
/* beg form */
.form-group {
    width: 100%;
    padding: 5px 0px;
}
.control-label {
    text-align: left;
}
.form-group:before,
.form-group:after {
    content: "";
    display: table;
    font-size: 0;
    line-height: 0;
    height: 0;
}
.form-group:after {
    clear: both;
}
.required:after {
    content: "*";
    font-weight: bold;
    color: #ff0000;
    margin-right: -5px;
}
/* end form */
.row {
    margin-left: -9px;
    margin-right: -9px;
}
.row:before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 9px;
    padding-left: 9px;
}
.no-padding {
    padding: 0;
}
.col-padding-left {

}

.form-group [class^="col-"] {
    min-height: 19px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/*== END form ===*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}

@media (min-width: 480px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
    width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .control-label {
        text-align: right;
    }

}
@media (min-width: 720px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
    width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
}
@media (min-width: 1024px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}



/*Product Detail*/
.detail-container {
    width: 100%;
}
.detail-container h3 {
    font-size: 14px;
    font-weight: bold;
    color: #777;
    padding: 9px;
    margin: 10px 0 2px;
    border-bottom: 1px solid #eee;
}

/* Tags Manage */
.tags-products-edit {
    padding-top: 7px;
}
.tags-products-edit textarea {
    margin: 8px 0;
    padding: 2%;
    width: 96%;
    height: 160px;
}
.tags-products-list {

}
.clear-all {
    margin: 5px auto;
    text-align: right;
}

.lowstock-clear-content {

}
.lowstock-clear-content .actions {
    margin: 10px 0;
    clear: both;
}
.button-right {
    float: right;
    margin-left: 5px;
}


/** popup style **/
#overlay {
    z-index: 100;
}
.popup-wrapper {
    z-index: 1000;
}
.popup-container {
    position: relative;
    min-height: 200px;
    min-width: 400px;
    background-color: #fff;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 3px solid rgba(0,0,0,.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.popup-header {
    min-height: 32px;
    line-height: 32px;
}
.popup-header h3 {
    margin: 0;
    text-indent: 15px;
    font-size: 14px;
    background-color: #D5EAF9;
}
.popup-message {
    padding: 0 40px;
}
.popup-main {
    padding: 10px;
    min-height: 80px;
}
.popup-footer {
    text-align: center;
}
.popup-footer button {
    margin: 0 25px;
}
.popup-close {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    text-indent: -9999em;
    cursor: pointer;
    background: url(images/icons/popup-detele.png) no-repeat 0 0;
}
.tip-container {
    max-width: 500px;
    position: relative;
    padding: 20px 40px 20px 30px;
    border-width: 0 1px 1px 1px;
    border-style:solid;
    border-color: #ddd;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 4px 4px rgba(0,0,0,.3);
    background: #fff;
}
.tip-message {
    line-height: 26px;
    text-align: center;
}
.tip-close {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 25px;
    text-indent: -999em;
    background: url(images/icons/popup-detele.png) no-repeat 0 0;
}
#popup-warning .tip-container {
    padding: 10px 40px 10px 20px;
    border-width: 0 0 1px 1px;
    background-color: #FFCECF;
    background-image: none;
    border-color: #E08E90;
}

/* beg layout in 720 change */
@media (max-width: 720px) {
    #container {
        width: 300%;
    }
    #container:before,
    #container:after {
        content: "";
        display: table;
    }
    #container:after {
        clear: both;
    }
    #container #sidebar {
        width: 33.333333333333333333333333333333333%;
        border: 0;
        float: left;
    }
    #container #sidebar:before {
        display: none;
    }
    #container #content-wrapper {
        width: 66.666666666666666666666666666666666%;
        margin-left: 0;
        float: left;
    }
    #container #content-wrapper .mail-list {
        width: 50%;
        border: 0;
        float: left;
    }
    #container #content-wrapper .mail-list:before {
        display: none;
    }
    #container #content-wrapper .mail-detail {
        width: 50%;
        margin-left: 0;
        float: left;
    }
}
/* end layout in 720 change */

/* beg dropdown */
.group {
    position: relative;
}
.dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 10px;
}
/* end dropdown */
/*beg list*/
.title {}
.list {

}
/*end list*/