html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px;
    font-size: 62.5%;
}
body {
  
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 130%;
    line-height: 1.42857143;
    color: #333;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    margin: .67em 0;
    font-size: 18px;
    font-size: 2rem;
}
mark {
    color: #000;
    background: #ff0;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hiden;
}
figure {
    margin: 1em 40px;
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    outline: none;
    border: none;
    background-color: transparent;
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaa;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #aaa;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aaa;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #aaa;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: none;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* beg button */
button,.button {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 4px 13px;
    color: #666;
    margin: 5px;
    text-decoration: none;
    font:12px/normal inherit;
    color: #444;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
    background-color: #f5f5f5;
}

button:hover,.button:hover,
button:focus,.button:focus,
button:active,.button:active {
    text-decoration: none;
    color: #111;
}
button:active,.button:active,
button.active,.button.active {
    text-decoration: none;
    color: #111;
}
button[disabled]{
    border-color: #E9E9E9;
    text-decoration: none;
    color: #B8B8B8;
    background-color: #F1F1F1;
    box-shadow: none;
    cursor: default;
}

.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.button.primary {
    text-decoration: none;
    color: #fff;
    background-color: #079dd4;
}
.button.primary:hover,
.button.primary:focus,
.button.primary:active,
.button.primary:active,
.button.primary.active {
    color: #fff;
    background-color: #22ACDF;
}

.button.danger {
    color: #900;
    text-shadow: none;
}
.button.danger:hover,
.button.danger:focus,
.button.danger:active {
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff;
    background-color: #dc5f59;
}

.button.btn-lg {
    padding: 10px 20px;
}
.button.btn-default {
    padding: 6px 15px;
}
.button.btn-sm {
    padding: 5px 15px;
}
.button.btn-xs {
    padding: 1px 5px;
}
button.blue,
.button.blue {
   background-color: #4d90fe; 
}
button.red,
.button.red {
   background-color: #ef5352; 
}
button.tag,
.button.tag {
    
} 
/* end button */

/* Clear */
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1;
}

.none {
    display: none;
}
.pointer {
    cursor: pointer;
}
.middle {
    vertical-align: middle;
}
.warning {
    color: #f89406;
}
.danger {
    color: #dd5a43;
}
.success, span.online {
    color: #69aa46;
}

.icon-yes {
    color: #69aa46;
    font-size: 14px;
}
.icon-no {
    color: #dd5a43;
    font-size: 14px;
}

.alert {
    margin-top: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    word-wrap:break-word
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* Layout */
#wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-size: 1.3rem;
}

#header {
    width: 100%;
    height: 60px;
    padding: 10px 0;
    background-color: #2f4050;
    border-bottom: 1px solid #acadae;
}
#container {
    width: 100%;
    height: auto;
    position: relative;
}
#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    border-right: 1px solid #ccc;
    background-color: #ededed;
}
#sidebar:before {
    content: "";
    width: inherit;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    border-style: inherit;
    border-color: inherit;
    border-width: inherit
}
#content-wrapper {
    position: relative;
    margin-left: 150px;
    background-color: #fff;
    min-height: 100%;
}
.mail-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 600px;
    border-right: 1px solid #ccc;
}
.mail-wrapper:before {
    content: "";
    width: inherit;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    border-style: inherit;
    border-color: inherit;
    border-width: inherit
}
.mail-detail {
    margin-left: 600px;
}
#main-content {
    padding: 15px;
    padding-bottom: 0;
}
#footer {
    width: 100%;
    margin: 10px auto;
    padding: 12px 0;
    text-align: center;
    border-top: 1px solid #ccc;
}
/*beg header*/
#logo {
    width: 150px;
    float: left;
}
#logo img {
    max-height: 48px;
}
#search {
    float: left;
}
.out-text {
    padding: 5px;
    border: 1px solid #cdcdcd;
    background-color: #fff;
}
.search-text {
    width: 500px;
    border: none;
}
.advanced-search {
    display: none;
    position: relative;
    margin-right: 51px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    z-index: 1;
}
.query-select {
    display: none;
}
#shortcut {
    float: right;
}
#shortcut li {
    float: left;
    position: relative;
    line-height: 30px;
    padding: 0 15px 0 15px;

}
#shortcut>li>a {
    font-size: 13px;
    color: #fff;
}
/*end header*/

/*breadcrumb*/
#breadcrumb {
    padding: 15px 9px;
    white-space: nowrap;
}
#breadcrumb .home-icon {
    font-size: 14px;
}
#breadcrumb sup,
#breadcrumb span,
#breadcrumb a {
    padding-left: 5px;
}
#breadcrumb sup {
    top: -2px;
    font-size: 1.3rem;
}
#breadcrumb .arrow-right:last-child {
    display: none;
}

.title h1 {
    margin: 20px auto 10px;
    font-size: 18px;
    font-weight: normal;
    color: #393939;
}

/* nav tabs */
.nav-tabs {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.nav-tabs ul {
    position: relative;
    padding-left: 9px;
    margin-bottom: -1px;
    overflow: hidden;
}
.nav-tabs li {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    color: #000;
}
.nav-tabs li.current {
    border-bottom-color: #fff;
}
.nav-tabs li a,
.nav-tabs li span{
    display: block;
    padding: 6px  15px;
    color: #2b7dbc;
    border-top: 2px solid #eee;
    text-decoration: none;;
}

.nav-tabs .current a,
.nav-tabs .current span{
    color: #333;
    border-top: 2px solid #4C8FBD;
    border-right: 1px solid #C5D0DC;
    border-left: 1px solid #C5D0DC;
    background-color: #FFF;
}
.tabs-content {
    padding: 15px 10px;
}
.label-group label,
.label-group span,
.label-group input,
.label-group select {
    margin-left: 0;
    vertical-align: middle;
}
@media screen and (max-width: 380px) {
    #search .label-group {
        display: block;
    }
}

#search fieldset {
    border: none;
    padding: 0;
    margin-bottom: 12px;
}
#search legend {
    color: #930;
    padding: 0;
    font-weight: bold;
}
#qucik-search {

}
.label-group span.search-switcher {
    margin: 0px 5px;
    cursor: pointer;
}


.export-container {
    padding-bottom: 5px;
    text-align: right;
    padding-right: 3px;
    margin: 10px 0 3px;
}
 .export-container a {
    margin-left: 18px;
    display: inline-block;
    text-decoration: none;
    background-position: 0 2px;
    background-repeat: no-repeat;
}
#fields-wrapper {
    position: relative;
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1;
    margin-left: 18px;
}
#fields-handler {
    display: inline;
    cursor: pointer;
}

#fields {
    position: absolute;
    right: 0;
    top: 20px;
    background: #fff;
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
    padding: 5px;
    box-shadow: 0 2px 6px #666;
    width: 290px;
    z-index:5;
 /*   display: block!important;*/
}
/* Product List */
.products-list span.frame-color {
    display: inline-block;
    margin: 2px 0px;
    width: 0;
    padding-left: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
}
.products-list span.normal-price {
    color: #666;
    text-decoration: line-through;
}
.products-list span.promotion-price {
    color: #ff6c00;
}
.products-list span.discount-percent {

}

.products-list .off-line td,
.products-list .off-line td a,
.products-list .off-line td span {
    color: rgba(51,51,51,.4);
}
.products-list .off-line span.promotion-price {

}
.promotion-list .off-line td,
.promotion-list .off-line td a,
.promotion-list .off-line td span {
    color: rgba(51,51,51,.4);
}

@media screen and (min-width: 480px) {
    #fields {
        width: 420px;
    }
}

#fields label {
    padding: 2px;
    float: left;
    width: 130px;
    cursor: pointer;
}
#fields fieldset {
    padding-left: 0;
    padding-right: 0;
}
#fields legend {
    position: relative;
    border: none;
    font-weight: bold;
    padding-top: 5px;
    display: block;
    padding-left: 4px;
    overflow: hidden;
}
#fields .fields-actions {
    position: relative;
    margin: 0 5px;
    overflow: hidden;
}
#fields .close {
    position: absolute;
    right: 5px;
    bottom: 0px;
    display: block;
    width: 0px;
    padding-left: 16px;
    height: 16px;
    background: url('images/icons/popup-detele.png') center center no-repeat;
    cursor: pointer;
    opacity: .6;
    overflow: hidden;
}
#fields .close:hover {
    opacity: 1;
}
#fields .fields-actions label {
    float: none;
}

/**  BGN Bulk **/
.bulk {
    float: left;
    margin-right: 20px;
    margin-top: 6px;
}
.bulk a {
    margin: 0 5px;
    text-decoration: underline;
}
.bulk a.disable {
    color: #ccc;
}
.bulk button{
    padding:2px 8px;
    font-size: 12px;
}
.bulk .operation{
    font-weight: normal;
    text-align: left;
    padding: 4px;
    line-height: 30px;
    height: 30px;
}

.operation-check {
    cursor: pointer;
    position: relative;
    padding: 0 16px 0 8px;
    margin-right: 26px;
}
.operation-check input {
    margin-right: 4px;
}
.operation-check .arrow {
    position: absolute;
    right: 0;
    top: 0;
    border-width: 6px;
    border-style: solid;
    border-color: #666 #fff #fff #fff;
}
.operation .operation-btn {
    position: relative;

}
.operation-btn .ico {
    position: absolute;
    left: 4px;
    top: 5px;
}

/**  END Bulk **/

/** BGN page **/
.selection-results {
    margin: 5px 0;
    padding: 3px;
    background: #ffd;
    line-height: 2em;
    text-align: center;
    clear: both;
}
.selection-results span {
    cursor: pointer;
    text-decoration: underline;
}

#selection {
    display: inline-block;
    zoom: 1;
    *display: inline;
    position: relative;
    padding-right: 13px;
    margin: 10px 3px 0 11px;
    float: left;
    clear: left;
}

#selection .arrow {
    border-color: #666666 #F5F5F5 #F5F5F5;
    border-style: solid;
    border-width: 4px;
    font-size: 0;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
    transition: transform 0.2s ease-in 0s;
    right: 2px;
    top: 7px;
    cursor: pointer;
}
#selection-options {
    position: absolute;
    position: absolute;
    left: 0;
    top: 22px;
    padding: 6px 0;
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    white-space: nowrap;
    z-index: 100;
}
#selection-options li{
    padding: 2px 10px;
    white-space: nowrap;
}
#selection-options li:hover {
    background: #f1f1f1;
    cursor: pointer;
}
#selection-options .check-item {
    line-height: 22px;
    padding: 0 8px;
}
#selection-options .arrow {
    position: absolute;
    left: 7px;
    right: auto;
    top: -12px;
    border-width: 6px;
    border-style: solid;
    border-color: #fff #fff #eee #fff;
}
#selection-options .arrow:after{
    width: 0;
    height: 0;
    content: "";
    border-color: transparent;
    border-width: 6px;
    border-style: solid;
    border-bottom-color: #fff;
    position: absolute;
    right: -6px;
    top:-5px;
}
#selection-options .arrow:after{
    width: 0;
    height: 0;
    content: "";
    border-color: transparent;
    border-width: 6px;
    border-style: solid;
    border-bottom-color: #fff;
    position: absolute;
    right: -6px;
    top:-5px;
}
/*selection end*/

.pagination {
    float: right;
    display: inline;
    text-align: right;
    padding-right: 5px;
    margin-top: 9px;

}

.pagination .pages,
.pagination .records,
.pagination .pagesize {
    text-align: center;
    margin: 0 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.pagesize {
    padding: 1px;
    vertical-align: middle;
}
.pages {
    line-height: 23px;
    height: 23px;

}
.pages a {
    cursor: pointer;
    padding: 3px 7px;
    color: #333;
}
.pages a:hover {
    color: #ff6c00;
}
.pages .current{
    padding: 3px 7px;
    color: #fff;
    background-color: #555;
}
.separator {
    padding: 3px 3px;
}
/** END page **/
/* beg form */
.form-group {
    width: 100%;
    padding: 5px 0px;
}
.control-label {
    text-align: left;
}
.form-group:before,
.form-group:after {
    content: "";
    display: table;
    font-size: 0;
    line-height: 0;
    height: 0;
}
.form-group:after {
    clear: both;
}
.required:after {
    content: "*";
    font-weight: bold;
    color: #ff0000;
    margin-right: -5px;
}

.form-group [class^="col-"] {
    min-height: 19px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* end form */

/* beg layout in 720 change */
@media (max-width: 720px) {
    #container {
        width: 300%;
    }
    #container:before,
    #container:after {
        content: "";
        display: table;
    }
    #container:after {
        clear: both;
    }
    #container #sidebar {
        width: 33.333333333333333333333333333333333%;
        border: 0;
        float: left;
    }
    #container #sidebar:before {
        display: none;
    }
    #container #content-wrapper {
        width: 66.666666666666666666666666666666666%;
        margin-left: 0;
        float: left;
    }
    #container #content-wrapper .mail-list {
        width: 50%;
        border: 0;
        float: left;
    }
    #container #content-wrapper .mail-list:before {
        display: none;
    }
    #container #content-wrapper .mail-detail {
        width: 50%;
        margin-left: 0;
        float: left;
    }
}
/* end layout in 720 change */

/* beg dropdown */
.group {
    position: relative;
}
.dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 10px;
}
/* end dropdown */
/* beg table */
.table {
    padding: 5px;
}
.tr {
    margin-left: -3px;
    margin-right: -3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.tr:before,
.tr:after {
    content: "";
    display: table;
}
.tr:after {
    clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-17,
.col-18,
.col-19,
.col-20,
.col-21,
.col-22,
.col-23,
.col-24 {
    position: relative;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;
    float: left;
}
.col-1 {
    width: 4.16666667%;
}
.col-2 {
    width: 8.33333333%;
}
.col-3 {
    width: 12.5%;
}
.col-4 {
    width: 16.66666667%;
}
.col-5 {
    width: 20.83333333%;
}
.col-6 {
    width: 25%;
}
.col-7 {
    width: 29.16666667%;
}
.col-8 {
    width: 33.33333333%;
}
.col-9 {
    width: 37.5%;
}
.col-10 {
    width: 41.66666667%;
}
.col-11 {
    width: 45.83333333%;
}
.col-12 {
    width: 50%;
}
.col-13 {
    width: 54.16666667%;
}
.col-14 {
    width: 58.33333333%;
}
.col-15 {
    width: 62.5%;
}
.col-16 {
    width: 66.66666667%;
}
.col-17 {
    width: 70.83333333%;
}
.col-18 {
    width: 75%;
}
.col-19 {
    width: 79.16666667%;
}
.col-20 {
    width: 83.33333333%;
}
.col-21 {
    width: 87.5%;
}
.col-22 {
    width: 91.66666667%;
}
.col-23 {
    width: 95.83333333%;
}
.col-24 {
    width: 100%;
}
/* end table */

/*beg decoration in table*/
.title {
    background-color: #eee;
}
.list {

}
.checkbox,
.bookmark,
.star,
.from,
.subject,
.owner,
.date {

}
.checkbox {

}
.bookmark {

}
.star {
    color: yellow;
}
.fa-bookmark,
.fa-star {
    color: rgb(249, 211, 63);
}
.fa-bookmark-o,
.fa-star-o {
    color: #aaa;
}
.from {

}
.subject {

}
.info {
    color: #aaa;
}
.owner {
    text-align: center;
}
.date {
}
.selected {
    font-weight: bolder;
}
/*end decoration in table*/

/* beg mail-detail */
.mail-detail {

}
.mail-detail .subject {
    height: 40px;
    background-color: #eee;
}
/* end mail-detail */