<div class="discover">
	<ul class="item clearfix">
		
		<li>
			<img src="images/discover/pic-1-1.jpg">
		</li>

		<li>
			<img src="images/discover/pic-1-2.jpg">
		</li>

	</ul>

	<ul class="item even clearfix">
		
		<li>
			<img src="images/discover/pic-2-1.jpg">
		</li>
		
		<li>
			<img src="images/discover/pic-2-2.jpg">
		</li>

		<li>
			<img src="images/discover/pic-2-3.jpg">
		</li>

	</ul>

</div>