<div class="home clearfix">
	<ul class="item">
		<li class="hot">
			<p>Top Reading</p>
			<p>Loved More</p>
			<p>Useful More</p>
		</li>
		
		<% for(var i = 0 ; i < 5; i++) { %>
			<li>
				<div class="pic">
					<img src="images/list/car.jpg" />
				</div>
			</li>
		<% } %>

	</ul>
	<ul class="item">
		
		<% for(var i = 0 ; i < 5; i++) { %>
			<li>
				<div class="pic">
					<img src="images/list/bottle.jpg" />
				</div>
			</li>
		<% } %>
		
	</ul>
	<ul class="item">
		<% for(var i = 0 ; i < 5; i++) { %>
			<li>
				<div class="pic">
					<img src="images/list/email.jpg" />
				</div>
			</li>
		<% } %>
	</ul>
	<ul class="item">
		<% for(var i = 0 ; i < 5; i++) { %>
			<li>
				<div class="pic">
					<img src="images/list/series.jpg" />
				</div>
			</li>
		<% } %>
	</ul>
	<ul class="item">
		<% for(var i = 0 ; i < 5; i++) { %>
			<li>
				<div class="pic">
					<img src="images/list/wave.jpg" />
				</div>
			</li>
		<% } %>
	</ul>
</div>