body {
	background-color: #C8C8B6;
}
.wrapper {
  	margin: auto;
 	width: 610px;
}
 
.book {
  	width: 600px;
  	height: 400px;
  	margin: 40px auto 10px auto;
}
 
.pages {
  	position: relative;
  	width: 100%;
  	height: 100%;
}
 
.page {
	width: 50%;
  	position: absolute;
  	left: 0;
  	top: 0;
}

.page-odd {
  	padding-left: 50%;
}
 
.page-even {
	padding-right: 50%;
}

.header,
.content,
.footer {
  	border: solid 1px #7b7076;
}

.header,
.footer {
	background-color: #62A4A0;
}
 
.header {
  	height: 30px;
  	border-bottom: none;
}
 
.content {
  	height: 328px;
  	padding: 0 30px 20px 30px;
  	border-top: none;
  	border-bottom: none;
  	background-color: #E1E5E0;
}
 
.footer {
  	height: 20px;
  	border-top: none;
}
 
.cover {
	z-index: 300;
}

.directory {
	z-index: 299;
}

.page-1  {
	z-index:260;
}
 
.page-2 {
	z-index:259;
}

.back-cover {
	z-index: 50;
}


/* open book animation beg */
@-webkit-keyframes page-odd {
	0% {
		-webkit-transform: rotateY(0deg);
	}
	50% {
		-webkit-transform: rotateY(0deg);
	}
	75% {
		-webkit-transform: rotateY(90deg);
	}
	100% {
		-webkit-transform: rotateY(90deg);
	}
}

@-webkit-keyframes page-even {
	0% {
		-webkit-transform: rotateY(90deg);
	}
	50% {
		-webkit-transform: rotateY(90deg);
	}
	75% {
		-webkit-transform: rotateY(90deg);
	}
	100% {
		-webkit-transform: rotateY(0deg);
	}
}
 
.forward {
	-webkit-animation: 10s page-odd ease-out forwards;
}

.back {
	-webkit-animation: 10s page-even ease-out forwards;
}
/* open book animation end */