.wrapper {
	width: 100%;
	overflow: hidden;
}
.content {
	width: 300%;
	background-color: #000;
}
.page-1,
.page-2,
.page-3 {
	float: left;
	width: 33.333333333333333333333333333333333%;
	height: 50px;
	text-align: center;
	font-size: 30px;
	background-color: #098CAE;
}