header {
	background-color: #232323;
}
.navbar-header {
	margin-left: -5px;
	margin-right: -5px;
}
.navbar-brand {
	float: left;
	padding: 15px;
	height: 50px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	padding-right: 5px;
}

header:before,
.navbar-header:before,
.container:before {
	content: "";
	display: table;
}
header:after,
.navbar-header:after,
.container:after {
	clear: both;
}

@media (min-width: 1200px) {
	.container {
		width: 980px;
	}
}